*{margin: 0px;padding: 0px;}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{font-family: "lato",sans-serif;}

.bg-grey{background: #2C3539;}

::-webkit-scrollbar{
    width: 8px !important;
    height: 8px !important;
}
::-webkit-scrollbar-thumb{
    background: #ccc !important;
}
::-webkit-scrollbar-track{
    background: transparent;
}


header{    padding-bottom: 0px;
    margin-top: -24px;}

.headerWrapper .top-strip{padding: 8px 0px; background: #ffa500;}
.headerWrapper .top-strip{color: #fff; font-size: 25px; font-weight: 500;}

.headerWrapper .header{width: 100%; height: auto; padding: 25px 0px; }

.container{max-width: 85% ;}
.logowrapper img{width: 350%;

    height: 159px;
    width: 160px;
    margin-bottom: 51px;}
.headerWrapper .header .container{margin-left: 100px;}
.headerWrapper .header .part2 {margin-left: 80px; padding-left: 100px;}
.headerWrapper .header .part2 .countryDrop{ width:150; height: 50px; min-width: 150px; color: #000 !important; padding: 10px 10px !important; border: 1px solid rgba(0,0,0,0.2) !important; border-radius:7px !important ;  -webkit-border-radius:7px !important ; -moz-border-radius:7px !important ; -ms-border-radius:7px !important ; -o-border-radius:7px !important ; }
.headerWrapper .header .part2 .countryDrop{text-align: left;justify-content: flex-start !important; }
.headerWrapper .header .part2 .countryDrop .label{font-size: 12px !important; text-transform: capitalize !important; color: rgba(0,0,0,0.7) !important;}
.headerWrapper .header .part2 .countryDrop  .name{font-size: 14px !important; text-transform: capitalize !important; color: #2C3539 !important; font-weight: 700;}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg{opacity: 0.7}

 .headerSearch{ width: 60%; height: 50px; background: #f3f4f7; padding: 10px; position: relative; margin: -2px; border-radius:10px ; border: 1px solid rgba(0,0,0,0.1); -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ; }
 .headerSearch input{ background: transparent; outline: none !important; font-size: 15px; color: rgba(0,0,0,0.8); width: 100%; height: 30px; border: 0px !important;padding: 0px 20px !important; }
 .headerSearch button svg{ font-size: 25px;margin-bottom: 10px;}
 .headerSearch button{ position: absolute; top: 10px; right: 10px; z-index: 100; min-width: 40px; height: 40px !important; width: 40px; border-radius:50% !important;color: #000; -webkit-border-radius:50% !important; -moz-border-radius:50% !important; -ms-border-radius:50% !important; -o-border-radius:50% !important; }

header .part3 .circle {
    align-items: center;
    justify-content: center;
    min-width: 45px !important;
    height: 45px !important;
    width: 45px !important;
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
color: #000;

}
header .part3 .circle svg{font-size: 22px;}
header .cartTab {
    width: 145px;
}
.cartTab .price{font-size: 18px; color: rgba(0, 0, 0, 0.8); font-weight: 700;}
.cartTab button{background: #fff1ee !important;}
.cartTab button svg{color: #ffa500 !important;}
.cartTab .count{ position: absolute; top: -6px; right: -4px; background: #ffa500; border-radius:50% ; color: #fff; width: 20px; height:20px ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }

.locationModal  .MuiPaper-elevation{
    padding: 50px;
    position: relative;
}
.locationModal .countryList{
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: scroll;
}
.locationModal .countryList li{
    width: 100%;
    list-style: none;
}
.locationModal .countryList li button{
    width: 100%; text-transform: capitalize !important;
    color: #000 !important; justify-content: flex-start !important; padding: 10px 20px;

}

.locationModal .close_
{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000 !important;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}


.locationModal .close_ svg{
    font-size: 22px;

}


nav{
        margin-top: -100px;

}

nav .allcatTab {
    background: #ffa500;
    padding: 10px 15px !important;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;

}



nav .allcatTab *{color: #fff;}
nav .allcatTab:hover{background:#2c3539;}
nav .allcatTab .text{
    font-weight: 600;
    font-size: 14px;
}

nav .navpart1{
    max-width: 20%;
    flex: 0 0 20%;
    padding-right: 40px;
    left: 27px;
    
}
nav .navPart2{
    max-width: 80%;
    flex: 0 0 80%;
    padding-right: 40px;
    left: 18px;
}


nav .allcatTab .icon1 svg{
    font-size: px !important;
   
}

nav .allcatTab .icon2 svg{
    font-size: 15px !important;
   
}

nav .navPart2 ul{
    margin-bottom: 0px;

}
nav .navPart2 ul li a{
    text-decoration: none;
}
nav .navPart2 ul li a button  {
 font-size: 17px;
 font-weight: 500;
 text-decoration: none;
 color: rgba(0,0,0,0.6);
 text-transform: uppercase;
 display: flex;
 align-items: center;
 padding: 8px 6px;
 transition:all 0.2s ease-in-out ;
 border-radius: 25px;
 -webkit-transition:all 0.2s ease-in-out ;
 -moz-transition:all 0.2s ease-in-out ;
 -ms-transition:all 0.2s ease-in-out ;
 -o-transition:all 0.2s ease-in-out ;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 -ms-border-radius: 25px;
 -o-border-radius: 25px;
}
nav .navPart2 ul li a svg{
    font: size 20px; 
}
nav .navPart2 ul li a:hover{
background: #f0faff;
color: #2bbef9;
} 

